/***********************************************************************************/
/***********************************************************************************/
/*************************    MOBILE NAVIGATION    *********************************/
/***********************************************************************************/
/***********************************************************************************/

.mobile_nav-bar {
  z-index: 1000;
  display: none;
  position: fixed;
  width: -webkit-fill-available;
  padding-inline: 3rem;
  background-image: linear-gradient(rgb(27, 27, 27), rgba(27, 27, 27, 0.75));
}

.btn-mobile-nav {
  background: none;
  border: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #ffd64c;
}

.mobile-nav-img {
  position: fixed;
  height: 5rem;
  right: 38%;
}

.mobile_nav-menu {
  display: none;
  position: fixed;
  z-index: 1500;
  width: 20rem;
  height: 30rem;
  background-color: rgba(217, 217, 217, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 0 0 3rem 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.mobile-menu-close-icon {
  padding-top: 1rem;
  padding-left: 2rem;
  color: white;
  font-size: 5rem;
}

.mobile-menu-list {
  padding-bottom: 2rem;
}

.mobile-menu-link {
  padding-left: 3rem;
  font-size: 2rem;
  color: white;
}

.menu-list-icon {
  padding-left: 1rem;
}

.display-block {
  display: block;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      MOBILE HEADER      *********************************/
/***********************************************************************************/
/***********************************************************************************/

.mobile-header {
  display: none;
  align-items: center;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgb(27, 27, 27) 100%
    ),
    url(Images/Square_Eyes_Cover1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mobile-header-specific {
  display: none;
  align-items: center;
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgb(27, 27, 27) 100%
    ),
    url(Images/Square_Eyes_Cover2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_movie-div {
  display: inline-block;
  margin-inline: 5rem;
  padding-bottom: 1rem;
}

.header_movie-img {
  display: inline-block;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5),
    0 -4px 15px 0 rgba(255, 213, 76, 0.08);
  border-radius: 1rem;
  object-fit: cover;
  width: 15rem;
  height: 100%;
}

.backdrop-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 12rem;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.mobile-movie-title {
  font-size: 2.5rem;
  font-weight: 400;
}

.mobile-movie-info {
  font-size: 1.5rem;
  font-weight: 200;
  padding-inline: 4.68rem;
  top: 40%;
  color: #cecece;
}

.mobile-cta-btn,
.mobile-info-btn {
  cursor: pointer;
  border: 2px solid #ffd64c;
  border-radius: 20px;
  font-size: 1.5rem;
  margin-right: 2rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  margin-block: 1rem;
}

.mobile-info-btn {
  background-color: #1b1b1b;
  color: #ffd64c;
}

.mobile-cta-btn {
  background-color: #ffd64c;
  color: #1b1b1b;
  padding-inline: 1.5rem;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      MEDIA QUERIES      *********************************/
/***********************************************************************************/
/***********************************************************************************/

@media (max-width: 1550px) {
  .section-actors {
    display: none;
  }

  .about-logo-img {
    height: 20rem;
  }
}

@media (max-width: 1172px) {
  .movie-title {
    font-size: 3rem;
  }

  .movie-desc {
    font-size: 1.5rem;
  }

  .checkout-section {
    padding-inline: 15rem;
  }

  .movie-desc-checkout {
    font-size: 1rem;
  }

  .success-msg-dsc {
    display: none;
  }

  .about-logo-img {
    height: 15rem;
  }
}

@media (max-width: 1024px) {
  .mobile-header {
    display: grid;
    width: -webkit-fill-available;
  }

  .mobile_nav-bar {
    display: flex;
  }

  .nav-bar {
    display: none;
  }

  .header {
    display: none;
  }

  .news-section {
    padding-top: 0.5rem;
  }

  .movie-img {
    width: 12rem;
  }

  .movie-div {
    margin-inline: 3rem;
    padding-bottom: 0.5rem;
  }

  .footer-img {
    height: 20%;
  }

  .footer {
    padding-block: 3rem;
  }

  .checkout-section {
    padding-inline: 8rem;
  }

  .about-logo-img {
    height: 10rem;
  }
}

@media (max-width: 830px) {
  .email-input {
    font-size: 0.8rem;
  }

  .movie-img {
    width: 9rem;
  }

  .header_movie-img {
    width: 13rem;
  }

  .checkout-section {
    padding-inline: 5rem;
  }

  .about-section {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
  }
}

@media (max-width: 730px) {
  .header_movie-div {
    margin-left: 5rem;
    margin-right: 0rem;
  }

  .footer {
    padding-block: 2rem;
  }

  .footer-img {
    height: 10%;
  }

  .list-items {
    font-size: 0.5rem;
  }

  .mobile-movie-desc {
    font-size: 1rem;
  }

  .section-news {
    margin-block: 5rem;
  }

  .checkout-section {
    padding-inline: 3rem;
  }
}

@media (max-width: 672px) {
  .mobile-cta-btn,
  .mobile-info-btn {
    font-size: 1rem;
  }

  .footer {
    padding-inline: 2rem;
  }

  .checkout-input {
    font-size: 0.6rem;
  }

  .movie-desc-checkout {
    display: none;
  }
}

@media (max-width: 633px) {
  .footer-list {
    display: none;
  }

  .footer-img {
    height: 5rem;
    padding-right: 5rem;
    padding-left: 2rem;
  }

  .sm-logo {
    padding-bottom: 2rem;
  }

  .checkout-section {
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 560px) {
  .mobile-nav-img {
    height: 3.8rem;
    padding-top: 0.3rem;
    padding-left: 0.5rem;
  }

  .icon-mobile-nav {
    height: 4rem;
    width: 4rem;
    color: #ffd64c;
  }

  .mobile-movie-desc {
    display: none;
  }

  .mobile-cta-btn,
  .mobile-info-btn {
    font-size: 1rem;
    padding-inline: 0.8rem;
  }

  .header_movie-div {
    margin-right: 0;
    margin-left: 3rem;
  }

  .header_movie-img {
    width: 10rem;
  }

  .movie-img {
    width: 8rem;
  }
}

@media (max-width: 496px) {
  .mobile-nav-img {
    display: none;
  }

  .backdrop-filter {
    display: flex;
    justify-content: center;
  }

  .mobile-header {
    display: flex;
  }

  .header_movie-div {
    display: none;
  }

  .header_movie-div {
    margin-inline: 2rem;
  }

  .mobile-cta-btn,
  .mobile-info-btn {
    font-size: 1rem;
    padding-inline: 1rem;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .email-input {
    font-size: 0.5rem;
  }

  .subscribe-btn {
    font-size: 0.8rem;
  }
}
