/***********************************************************************************/
/***********************************************************************************/
/*************************         GENERAL         *********************************/
/***********************************************************************************/
/***********************************************************************************/

* {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(27, 27, 27);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 3px solid rgb(27, 27, 27);
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #1b1b1b;
  overflow-x: hidden;
}

:link {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************       NAVIGATION        *********************************/
/***********************************************************************************/
/***********************************************************************************/

.nav-bar {
  z-index: 1000;
  /*background-color: rgb(27, 27, 27);*/
  background-image: linear-gradient(rgb(27, 27, 27), rgba(27, 27, 27, 0.404));
  position: fixed;
  display: flex;
  padding-inline: 4.68rem;
  padding-block: 1rem;
  width: 93%;
}

.leftside-nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 5rem;
  padding-right: 3rem;
}

.nav-link {
  padding-right: 1rem;
  color: #ffd64c;
}

.rightside-nav {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.nav-link-icons {
  color: #ffd64c;
  font-size: 2rem;
  padding-right: 4rem;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************         HEADER          *********************************/
/***********************************************************************************/
/***********************************************************************************/

.header {
  display: flex;
  align-items: center;
  width: auto;
  height: 100vh;
  background-image: url(Images/lucas-teixeira-bernardino-nfJWQ9vC4Bo-unsplash.jpg);
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgb(27, 27, 27) 100%
    ),
    url(Images/lucas-teixeira-bernardino-nfJWQ9vC4Bo-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-title {
  font-size: 4rem;
  font-weight: 400;
}

.movie-info {
  font-size: 2rem;
  font-weight: 200;
  padding-inline: 4.68rem;
  position: absolute;
  top: 40%;
  color: #cecece;
}

.cta-btn,
.info-btn {
  cursor: pointer;
  border: 2px solid #ffd64c;
  border-radius: 10px;
  background-color: #1b1b1b;
  color: #ffd64c;
  font-size: 1.5rem;
  margin-right: 2rem;
  padding-inline: 1rem;
  padding-block: 0.5rem;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      ACTOR SECTION      *********************************/
/***********************************************************************************/
/***********************************************************************************/

.section-actors {
  margin-bottom: 10rem;
}

.actor-section {
  display: flex;
}

.section-header {
  color: #cecece;
  font-size: 2rem;
  font-weight: 300;
  margin-left: 4.68rem;
}

.actors {
  border: 3px solid #ffd64c;
  display: flex;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  margin-inline: 5rem;
}

.actors-img {
  object-fit: cover;
  width: 10rem;
  height: 100%;
}

.fade {
  position: absolute;
  width: 100%;
  height: 10.5rem;
  background-image: linear-gradient(
    0deg,
    rgb(27, 27, 27),
    rgba(27, 27, 27, 0.5)
  );
  transition: all 0.5s ease;
}

.fade:hover {
  opacity: 0%;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      NEWS SECTION       *********************************/
/***********************************************************************************/
/***********************************************************************************/

.section-news {
  margin-block: 10rem;
}

.news-section {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-behavior: auto;
  padding-top: 2.5rem;
}

.news-section::-webkit-scrollbar {
  width: 12px;
  height: 15px;
}

.news-section::-webkit-scrollbar-track {
  background: rgb(27, 27, 27);
}

.news-section::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  border: 3px solid rgb(27, 27, 27);
}

.movie-div {
  display: inline-block;
  margin-inline: 5rem;
  padding-bottom: 1rem;
}

.movie-img {
  display: inline-block;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5),
    0 -4px 15px 0 rgba(255, 213, 76, 0.08);
  border-radius: 1rem;
  object-fit: cover;
  width: 15rem;
  height: 100%;
  transition: all 0.5s ease;
}

.movie-img:hover {
  transform: scale(105%);
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      FOOTER SECTION     *********************************/
/***********************************************************************************/
/***********************************************************************************/

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-inline: 4.68rem;
  padding-block: 10rem;
}

.footer-img {
  height: 10rem;
}

.list-header {
  color: #cecece;
  font-size: 1.2rem;
  font-weight: 100;
  padding-block: 0.5rem;
}

.list-items {
  padding-block: 0.5rem;
  color: #cecece;
  font-size: 0.8rem;
  font-weight: 100;
}

.footer-p {
  color: #cecece;
}

.sm-logo {
  color: #cecece;
  font-size: 2rem;
  padding: 0 1rem 7rem 0;
  cursor: pointer;
}

.label-email {
  color: #cecece;
}

.email-input {
  padding: 0.4rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.subscribe-btn {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  background-color: #ffd64c;
  color: #1b1b1b;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      MOVIES.HTML        *********************************/
/***********************************************************************************/
/***********************************************************************************/

.section-movies {
  padding-inline: 4.68rem;
  padding-block: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.movie-display-div {
  display: flex;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 3rem;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************       ABOUT.HTML        *********************************/
/***********************************************************************************/
/***********************************************************************************/

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-inline: 4.68rem;
  padding-top: 14rem;
  padding-bottom: 2rem;
}

.about-logo {
  padding-right: 3rem;
}

.about-logo-img {
  height: 25rem;
}

.about-text {
  padding-inline: 3rem;
  color: #cecece;
  padding-top: 7rem;
}

.contactus-btn {
  color: #ffd64c;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      CONTACT.HTML       *********************************/
/***********************************************************************************/
/***********************************************************************************/

.contact-form {
  display: grid;
  padding: 10rem 4.68rem 5rem 4.68rem;
  justify-content: center;
}

.form-header {
  font-size: 2.5rem;
  font-weight: 200;
  color: #cecece;
  text-align: center;
}

.form-label {
  color: #cecece;
  font-size: 1rem;
}

.form-input {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}

.input-msg {
  padding: 0.5rem;
  border-radius: 10px;
  height: 5rem;
  width: 20rem;
}

.form-btn {
  width: 5rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  justify-self: center;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************     CHECKOUT.HTML       *********************************/
/***********************************************************************************/
/***********************************************************************************/

.checkout-section {
  display: flex;
  justify-content: space-between;
  padding-inline: 20rem;
  padding-top: 14rem;
  padding-bottom: 2rem;
}

.movie-desc {
  color: #cecece;
}

.movie-img-desc {
}

.movie-img-checkout {
  height: 20rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5),
    0 -4px 15px 0 rgba(255, 213, 76, 0.08);
  border-radius: 1rem;
  object-fit: cover;
}

.price {
  color: #ffd64c;
  font-size: 2rem;
}

.center-line {
  width: 0.1rem;
  height: auto;
  background-image: linear-gradient(#1b1b1b, #cecece, #1b1b1b);
}

.checkout-form {
  width: 30rem;
}

.checkout-header {
  color: #cecece;
}

.billing-header {
  color: #cecece;
}

.checkout-label {
  color: #cecece;
}

.checkout-input {
  width: 20rem;
  padding: 0.4rem;
  border: none;
  border-radius: 8px;
}

.input-short {
  width: 8rem;
}

.order-btn {
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.order-btn:hover {
  background-color: #1b1b1b;
  border: inset 1px #ffd64c;
  color: #cecece;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      SUCCESS.HTML       *********************************/
/***********************************************************************************/
/***********************************************************************************/

.success-header {
  padding-top: 10rem;
  font-size: 2rem;
  color: #cecece;
  text-align: center;
}

.success-msg {
  display: flex;
  justify-content: space-between;
  padding-inline: 20rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.home-btn-div {
  padding-top: 3rem;
  text-align: center;
}

.home-btn {
  font-size: 2rem;
  color: #1b1b1b;
  font-weight: 300;
  background-color: #cecece;
  padding-inline: 1rem;
  padding-block: 0.2rem;
  border-radius: 10px;
}

.home-btn:hover {
  background-color: #1b1b1b;
  color: #cecece;
  border: inset 1px #ffd64c;
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      MOBILE HEADER      *********************************/
/***********************************************************************************/
/***********************************************************************************/

.mobile-header {
  display: flex;
  align-items: center;
  width: auto;
  height: 100vh;
  background-image: url(Images/Square_Eyes_Cover1.jpeg);
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgb(27, 27, 27) 100%
    ),
    url(Images/Square_Eyes_Cover1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.backdrop-filter {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

/***********************************************************************************/
/***********************************************************************************/
/*************************      MEDIA QUERIES      *********************************/
/***********************************************************************************/
/***********************************************************************************/

@media (max-width: 1550px) {
  .section-actors {
    display: none;
  }
}

@media (max-width: 1155px) {
  .movie-title {
    font-size: 3rem;
  }

  .movie-desc {
    font-size: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .nav-bar {
    display: none;
  }

  .header {
    display: none;
  }

  .news-section {
    padding-top: 0.5rem;
  }

  .movie-img {
    width: 12rem;
  }

  .movie-div {
    margin-inline: 3rem;
    padding-bottom: 0.5rem;
  }
}
